:root {
  --header-top: 100px;
  --header-bottom: 40px;
  --header-height: calc(var(--header-top) - var(--header-bottom));
}

@media (max-width: 1199px) {
  .section-product-list .product-list {
    --columns: 4;
  }

  .section-product-details .product-name, .section-product-details .product-review, .section-product-details .product-price {
    margin-bottom: 15px;
  }
  .section-product-details .section-info {
    margin-top: 15px;
  }
}
@media (max-width: 991px) {
  .section-policy .policy-list {
    margin-left: -12px;
    border: none;
  }
  .section-policy .policy-item {
    border: 1px solid #ccc;
    margin-left: 12px;
    border-radius: 8px;
  }
  .section-policy .policy-img {
    width: 20px;
    height: 20px;
  }
  .section-policy .policy-text {
    font-size: 1.2rem;
  }

  .section-product-list .product-list {
    --columns: 3;
    --spacing: 15px;
  }

  .section-product-details .product-info {
    padding: 0;
  }
  .section-product-details .product-img {
    border: none;
  }
}
@media (max-width: 767px) {
  .header-top {
    padding: 0 16px;
  }

  .section-products .product-list,
.section-product-list .product-list {
    --columns: 2;
    --spacing: 10px;
  }
  .section-products .product-list .product-body,
.section-product-list .product-list .product-body {
    padding: 10px;
  }
  .section-products .product-list .product-name,
.section-product-list .product-list .product-name {
    font-size: 1.4rem;
  }
  .section-products .product-list .product .product-rating .icon-star,
.section-product-list .product-list .product .product-rating .icon-star {
    font-size: 1rem;
  }
  .section-products .product-list .product .product-sold,
.section-product-list .product-list .product .product-sold {
    font-size: 1rem;
  }
  .section-products .product-list .product .price-current,
.section-product-list .product-list .product .price-current {
    font-size: 1.5rem;
  }
  .section-products .product-list .product .price-old,
.section-product-list .product-list .product .price-old {
    font-size: 1.1rem;
  }

  .filter-mobile,
.menu-mobile {
    width: 300px;
  }

  .footer .title {
    text-align: center;
  }
  .footer ul {
    text-align: center;
  }

  .section-cart .cart-table-desktop {
    display: none;
  }
  .section-cart .cart-table-mobile {
    display: block;
  }

  .section-checkout .user-info {
    padding-right: 0;
  }
  .section-checkout .order-info {
    padding: 20px 4px;
  }

  .section-products .tool .sort-wrap span,
.section-products .tool .sort-wrap select,
.section-products .tool .sort-wrap option {
    font-size: 1.4rem;
  }
  .section-products .pagination-wrap .pagination-item:not(:first-child) {
    margin-left: 10px;
  }
  .section-products .pagination-wrap .pagination-link {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1023px) {
  :root {
    --header-top: 70px;
    --header-bottom: 0px;
  }

  #app {
    margin-top: var(--header-height);
  }

  .header {
    position: fixed;
    z-index: 10;
    top: 0;
  }
  .header-top {
    height: var(--header-top);
  }
  .header-logo {
    width: 100px;
    height: auto;
  }
  .header-search {
    position: fixed;
    top: var(--header-height);
    z-index: 5;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 4px 24px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header .action-list .search-mobile-btn {
    display: flex;
  }
  .header .action-list .user {
    display: none;
  }
  .header .action-list .menu-mobile-btn {
    display: flex;
  }
  .header-bottom {
    display: none;
  }
}

/*# sourceMappingURL=reponsive.css.map */
