@import "color", "mixins";

.section-products {
  .filter-desktop {
    border: 1px solid #ccc;
    padding: 20px 16px;
  }
}

.filter {
  &-name {
    font-size: 1.8rem;
    color: $textHeadingColor;
  }
  &-icon {
    transition: all 0.3s linear;
  }
  &-price {
    margin-top: 20px;
    .filter-name {
      text-align: center;
      margin-bottom: 15px;
    }
    .input-price {
      @include flexBox(flex, center);
      .field {
        flex: 1;
        @include flexBox(flex, center, center, column);
        span {
          margin-bottom: 4px;
        }
        input {
          border: 1px solid #ccc;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 1.4rem;
          width: 100%;
          &:focus {
            border-color: $primaryColor;
            box-shadow: 0 0 0 1px rgba($primaryColor, 0.4);
          }
        }
      }
      .input-range2-wrap {
        margin-top: 25px;
      }
    }
  }
  &-btn {
    margin-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
.section-filter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  a {
    color: $textHeadingColor;
    @include flexBox(flex, center, space-between);
    padding: 8px 4px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
  ul {
    padding: 10px 4px;
  }
}
.filter-mobile {
  width: 400px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 40px 20px 20px;
  transform: translateX(100%);
  transition: all 0.2s linear;
  &.open {
    transform: translateX(0);
  }
  .close-btn {
    position: fixed;
    z-index: 5;
    top: 4px;
    right: 4px;
    font-size: 3rem;
    padding: 6px;
    cursor: pointer;
  }
  .wrapper {
    height: 100%;
    overflow-y: auto;
  }
}

.section-products {
  .tool {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    margin-bottom: 12px;
    @include flexBox(flex, center, space-between);
    padding: 8px 20px;
    .sort-wrap {
      @include flexBox(flex, center);
      span {
        margin-right: 12px;
      }
    }
    .filter-open-btn {
      font-size: 2rem;
      cursor: pointer;
      padding: 6px;
      &:hover {
        color: $primaryColor;
      }
    }
  }
  .product-list {
    --columns: 3;
  }
  .pagination-wrap {
    margin-top: 32px;
  }
}
